body {
    background-color: #F5F5F5;
    color: #757575;

}

.logo span {
    color: #2196F3;
}

.logo {
    color: #000000;
}

.list {
    list-style: none;
}
/* Цвет заголовков #212121 */

/* Цвет основного текста #757575 */

 /* белый #ffffff  */

/* акцент #2196F3  */

/* Цвет дополнительного фона #F5F5F5 */

/* Цвет дополнительного фона #F5F4FA */

